<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
        <img src="{{url_for('static', filename='qrcode.png')}}" align="middle">
  </body>
</html>