<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

  <div class="row justify-content-center">
        
    <form action="" method="post" name="UserDetails">
        {{ form.hidden_tag() }}
        <div class="form-group">
                <h5><br><br>Please enter your contact details: </h5>

        </div>
        
        <div class="form-group">
            <label for="taskNameInput">{{form.name.label}}</label><br>
        {{form.name}}
            <small id="taskNameInput" class="form-text text-muted">Required</small>
        </div>
        <div class="form-group">
            <label for="taskDescriptionInput">{{form.telNumber.label}}</label><br>
            {{ form.telNumber }}

        </div>
        <div class="form-group">
            <label for="taskDateInput">{{form.email.label}}</label><br>
            {{ form.email }}
        </div>
        <div class="form-group">
                <label for="taskDateInput">{{form.address.label}}</label><br>
                {{ form.address }}
                <small id="taskDescriptionInput" class="form-text text-muted">An address, email or phone number is required</small>

            </div>
            <div class="form-group">   

                <small id="taskDescriptionInput" class="form-text text-muted">{{ form.remember }}      <label for="taskDateInput">{{form.remember.label}}</label></small>
    
                </div>

        <div class="row justify-content-center">

        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
    </form>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>