{% extends "request_contacts.html" %}
 {% block content %}
 <table class="table">
        <thead>
          <tr>

            <th scope="col">Name</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Check In Time</th>
            <th scope="col">Check Out Time</th>
          </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>

                <td>{{log.name}}</td>
                <td>{{log.phone}}</td>
                <td>{{log.email}}</td>
                <td>{{log.address}}</td>
                <td>{{log.checkIn}}</td>
                <td>{{log.checkOut}}</td>
            </tr>

        {% endfor %}


        </tbody>
      </table>

 {% endblock %}